[submodule "bundle/conjure"]
	path = bundle/conjure
	url = https://github.com/Olical/conjure
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-bufkill"]
	path = bundle/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-sexp"]
	path = bundle/vim-sexp
	url = https://github.com/guns/vim-sexp
[submodule "bundle/vim-sexp-mappings-for-regular-people"]
	path = bundle/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/unic0rn/vim-colors-solarized
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/unic0rn/nerdtree
[submodule "bundle/tokyonight.nvim"]
	path = bundle/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/lualine.nvim"]
	path = bundle/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
